Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

Exercise 3 - Create a markdown cell for an introduction

## Introduction
In this notebook, Data Science Tools and Ecosystem are summarized.

Exercise 4 - Create a markdown cell to list data science languages

## Popular Data Science Languages
Some of the popular languages that Data Scientists use are:
1. **Python**
2. **R**
3. **Julia**
4. **SQL**
5. **Scala**

Exercise 5 - Create a markdown cell to list data science libraries

## Commonly Used Data Science Libraries
Some of the commonly used libraries used by Data Scientists include:
## Python
- **NumPy**
- **Pandas**
- **Matplotlib**
- **TensorFlow**
- **PyTorch**
## R
- **ggplot2**
- **dplyr**
- **caret**
## Julia
- **DataFrames.jl**
- **Plots.jl**
## SQL
- **SQLite**
- **MySQL and PostgreSQL**
- **Apache Hive**

Exercise 6 - Create a markdown cell with a table of Data Science tools

## Data Science Tools

| Development Environment Tools |
| ----------------------------- |
| Jupyter Notebook              |
| RStudio                       |
| VSCode with Python extension  |

Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#Addition
result_addition = 5 + 3
print(result_addition)

#Subtraction
result_subtraction = 10 - 4
print(result_subtraction)

#Multiplication
result_multiplication = 6 * 7
print(result_multiplication)

#Division
result_division = 15 / 3
print(result_division)

8
6
42
5.0

Exercise 8 - Create a code cell to multiply and add numbers

In [5]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5
print(result)

17

Exercise 9 - Create a code cell to convert minutes to hours

In [6]:
# This will convert 200 minutes to hours by dividing by 60.
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

Exercise 10 - Insert a markdown cell to list Objectives

## Objectives:

- Explore popular programming languages used in Data Science.
- Identify commonly used libraries in Python, R, and other languages for Data Science tasks.
- Introduce key development environment tools like Jupyter Notebooks, RStudio, and VS Code with Python.
- Demonstrate examples of evaluating arithmetic expressions in Python.
- Showcase practical applications, such as converting minutes to hours.

Exercise 11 - Create a markdown cell to indicate the Author's name

## Author:

Zyad Ashraf